brotlipy
certifi
cffi 
chardet 
click
cryptography
Flask
idna
itsdangerous
Jinja2
MarkupSafe
numpy 
opencv-python-headless
pycparser
pyOpenSSL
requests 
six 
urllib3
Werkzeug
win-inet-pton 
wincertstore
