brotlipy==0.7.0
certifi==2020.12.5
cffi @ file:///D:/bld/cffi_1613414140225/work
chardet @ file:///D:/bld/chardet_1610093646853/work
click==7.1.2
cryptography @ file:///D:/bld/cryptography_1616851649655/work
Flask==1.1.2
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy @ file:///D:/bld/numpy_1616933441329/work
opencv-python==4.5.1.48
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
PySocks @ file:///D:/bld/pysocks_1610291742246/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1608156231189/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1615828766818/work
Werkzeug==1.0.1
win-inet-pton @ file:///D:/bld/win_inet_pton_1610147566231/work
wincertstore==0.2
